//- includes/header.jade

header.header
    section.header__title
        h2.alpha Le pendu
    section.header__img
        h2.hidden Ou en êtes-vous dans le jeux&nbsp;?
        div
            img(src="css/images/hello.gif", alt="Ètape d'avancement dans le jeux du pendu").header__img--center
