///*------------------------------------*\
//    #COMPONENTS HEADER
//\*------------------------------------*/




// Style for my header
.header__title
    font-family wf_font-heading
    text-align center
    text-transform uppercase
    color wf_heading-color

.header__img
    position relative
    rem-fallback( height, 350px )
    background wf_background-header
    border-top 4px solid wf_border-color
    border-bottom 4px solid wf_border-color
.header__img--center
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    margin auto
