///*------------------------------------*\
//    #COMPONENTS FORMS
//\*------------------------------------*/




// Style for my forms
.form__select
    rem-fallback( width, 50px )
    rem-fallback( padding, 12px 0 )

.form__submit
    rem-fallback( font-size, 20px )
    color wf_link-color
    text-align center
    background wf_background-button
    border none
    rem-fallback( padding, 8px 20px )
    rem-fallback( margin, 0 12px )
    transition( all, 0.25s )
    &:hover
        color wf_link-color
        background wf_background-button-hover
