///*------------------------------------*\
//    #SETTINGS DEFAULT
//\*------------------------------------*/




// Font settings.
wf_font-size                    =    16px
wf_line-height                  =    24px
wf_space-unit                   =    wf_font-size
wf_margin-spacing               =    wf_line-height
wf_font-labeur                  =    "Garamont", "Arial", sans-serif
wf_font-heading                 =    "Futura", sans-serif

// Text colors.
wf_labeur-color                 =    #333333
wf_heading-color                =    #2c3e50
wf_word                         =    #2980b9
wf_hightlight                   =    #2980b9
wf_link-color                   =    #ffffff

// Background colors.
wf_background-color             =    #fbfbfb
wf_background-header            =    #f0f0f0
wf_background-button            =    #2980b9
wf_background-button-hover      =    #3498db

// Border colors
wf_border-color                 =    #2980b9

// Forms settings
wf_form-placeholder-color       =    #717171
wf_form-border-color            =    #ffffff
wf_form-background-color        =    #ffffff
wf_form-background-color-focus  =    #ffffff
